<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Do more with less</h2>
                <hr class="light">
                <p class="text-faded">Cut your inefficiencies and optimize your fleet.</p>
                <p class="text-faded">Improve fleet distribution according to demand.</p>
                <p class="text-faded">Monitor your fleet in real time and use a system that can scale to the demand.</p> 
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
